.image-icon4 {
  border: 0;
  background-color: transparent;
  height: 240px;
  width: auto;
  outline: 0;
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading7 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
}
.heading-and-icon2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.badge-base10,
.badge10 {
  flex: 1;
  flex-direction: row;
}
.badge-base10 {
  border-radius: var(--br-base);
  background-color: var(--color-ghostwhite-100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge10 {
  mix-blend-mode: lighten;
  min-width: 70px;
}
.badge10,
.blog-post-card4,
.categories4,
.content10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories4 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-40xl) 0 0;
  gap: var(--gap-5xs);
  color: var(--pink-700);
}
.blog-post-card4,
.content10 {
  flex-direction: column;
}
.content10 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.blog-post-card4 {
  gap: var(--gap-13xl);
  max-width: 100%;
}
.heading8,
.image-icon5 {
  position: relative;
  max-width: 100%;
}
.image-icon5 {
  align-self: stretch;
  height: 240px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.heading8 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 169px;
}
.heading-and-icon3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.badge-base14 {
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--color-seashell);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge14,
.categories5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badge14 {
  flex: 1;
  mix-blend-mode: lighten;
  min-width: 67px;
}
.categories5 {
  align-self: stretch;
  padding: 0 var(--padding-90xl) 0 0;
  gap: var(--gap-5xs);
  color: var(--color-firebrick);
}
.heading9 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 198px;
  max-width: 100%;
}
.categories6,
.row {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.categories6 {
  display: flex;
  justify-content: flex-start;
  padding: 0 var(--padding-93xl) 0 0;
  gap: var(--gap-5xs);
  color: var(--color-darkblue);
}
.row {
  display: grid;
  justify-content: center;
  gap: var(--gap-13xl);
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(288px, 1fr));
}
.heading10,
.heading11 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 224px;
  max-width: 100%;
}
.heading11 {
  min-width: 197px;
}
.badge-base23,
.badge21 {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.badge21 {
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: lighten;
  min-width: 113px;
}
.badge-base23 {
  border-radius: var(--br-base);
  background-color: var(--color-lavenderblush-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-4xs);
}
.badge23 {
  mix-blend-mode: lighten;
  color: var(--color-crimson);
}
.badge23,
.badge25,
.categories8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories8 {
  align-self: stretch;
  padding: 0 var(--padding-65xl) 0 0;
  gap: var(--gap-5xs);
  color: var(--pink-700);
}
.badge25 {
  flex: 1;
  mix-blend-mode: lighten;
  min-width: 95px;
}
.text28 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 87px;
}
.categories9,
.content9,
.heading-and-content {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories9 {
  flex-direction: row;
  padding: 0 var(--padding-14xl) 0 0;
  gap: var(--gap-5xs);
  color: var(--pink-700);
}
.content9,
.heading-and-content {
  flex-direction: column;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.heading-and-content {
  gap: var(--gap-13xl);
  flex-shrink: 0;
}
.arrow-left-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.text29 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.button-base1 {
  gap: var(--gap-5xs);
}
.button-base1,
.button5,
.content16,
.previous-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content16,
.previous-button-wrapper {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.content16 {
  flex: 1;
  border-radius: var(--br-5xs);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
}
.pagination-number-base {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-ghostwhite-200);
  overflow: hidden;
}
.content17,
.pagination-number-base,
.pagination-number-base1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content17 {
  flex: 1;
  border-radius: var(--br-5xs);
  padding: var(--padding-3xs) var(--padding-mini);
}
.pagination-number-base1 {
  overflow: hidden;
}
.content18,
.content19,
.pagination-number-base1 {
  flex: 1;
  border-radius: var(--br-5xs);
}
.content18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-sm) var(--padding-3xs)
    var(--padding-mini);
}
.content19 {
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-sm);
}
.content19,
.content22,
.pagination-numbers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.content22 {
  flex: 1;
  border-radius: var(--br-5xs);
  padding: var(--padding-3xs) var(--padding-2xs) var(--padding-3xs)
    var(--padding-xs);
}
.pagination-numbers {
  gap: var(--gap-11xs);
}
.text30 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 33px;
}
.featured-inner,
.pagination {
  display: flex;
  align-items: flex-start;
}
.pagination {
  align-self: stretch;
  border-top: 1px solid var(--color-whitesmoke-300);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xl-5) 0 var(--padding-12xs-5);
  gap: var(--gap-xl);
  font-size: var(--text-sm-medium-size);
  color: var(--color-gray-300);
}
.featured-inner {
  width: 1216px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--text-l-medium-size);
  color: var(--color-silver);
}
@media screen and (max-width: 1050px) {
  .row {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(288px, 499px));
  }
}
@media screen and (max-width: 750px) {
  .row {
    gap: var(--gap-base);
    grid-template-columns: minmax(288px, 1fr);
  }
  .content9 {
    gap: var(--gap-5xl);
  }
  .heading-and-content {
    gap: var(--gap-base);
  }
  .pagination {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .heading7 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .categories4 {
    flex-wrap: wrap;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .blog-post-card4 {
    gap: var(--gap-base);
  }
  .heading8 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .categories5,
  .heading-and-icon3 {
    flex-wrap: wrap;
  }
  .categories5 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading9 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .categories6 {
    flex-wrap: wrap;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heading10,
  .heading11 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .categories8 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .categories8,
  .categories9 {
    flex-wrap: wrap;
  }
}
