@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-l-medium: Inter;
  --font-roboto: Roboto;
  --font-material-icons-outlined: "Material Icons Outlined";
  --website-button: "Segoe UI";

  /* font sizes */
  --text-sm-medium-size: 14px;
  --text-l-medium-size: 16px;
  --text-lg-semibold-size: 18px;
  --website-button-size: 24px;
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-7xl: 26px;
  --font-size-xs-1: 11.1px;
  --font-size-mid-9: 17.9px;
  --website-heading-5-capital-size: 30px;
  --website-heading-6-size: 20px;
  --website-heading-1-size: 80px;
  --font-size-21xl: 40px;
  --font-size-224xl-8: 243.8px;
  --font-size-79xl: 98px;
  --font-size-42xl: 61px;
  --display-lg-semibold-size: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;

  /* Colors */
  --white-ffffff: #fff;
  --color-slategray-100: #637587;
  --gray-500: #667085;
  --color-slategray-200: rgba(99, 117, 135, 0.15);
  --color-gray-100: #262626;
  --color-gray-200: #1a1a1a;
  --color-gray-300: #112211;
  --gray-900: #101828;
  --color-gray: #121417;
  --color-gray-400: #090d1f;
  --color-gray-500: rgba(0, 0, 0, 0.34);
  --color-whitesmoke: #f0f2f5;
  --color-whitesmoke-100: #efefef;
  --color-whitesmoke-200: #eaecf0;
  --color-whitesmoke-300: rgba(234, 236, 240, 0.34);
  --color-gainsboro: #dbe0e6;
  --color-dodgerblue-100: #1a80e6;
  --color-dodgerblue-200: #1980e5;
  --color-black: #000;
  --color-lightslategray: #7b8994;
  --neutral-4: #99a0a8;
  --gray-300: #d0d5dd;
  --neutral-5: #cccfd3;
  --gray-700: #344154;
  --neutral-2: #334151;
  --color-dimgray: #525252;
  --yellow-f9b800: #f9b800;
  --primary-600: #7e56d9;
  --color-ghostwhite-100: #f8f9fc;
  --color-ghostwhite-200: #f9f5ff;
  --pink-50: #fdf2fa;
  --color-lavenderblush-100: #fff1f3;
  --pink-700: #c11574;
  --color-darkslateblue: #363e72;
  --color-slateblue: #6941c6;
  --color-silver: #c0c5d0;
  --color-crimson: #c11048;
  --color-honeydew: #ecfdf3;
  --color-seagreen: #037a48;
  --color-aliceblue-100: #f0f9ff;
  --color-aliceblue-200: #eef4ff;
  --color-darkblue: #3538cd;
  --color-seashell: #fff6ed;
  --color-firebrick: #c4320a;
  --color-steelblue: #026aa2;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-50xl: 69px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-25xl: 44px;
  --gap-13xl: 32px;
  --gap-5xs: 8px;
  --gap-11xs: 2px;
  --gap-9xs: 4px;
  --gap-6xs: 7px;
  --gap-55xl: 74px;
  --gap-lg: 18px;
  --gap-18xl: 37px;
  --gap-6xs-4: 6.4px;
  --gap-2xs-2: 10.2px;
  --gap-smi: 13px;
  --gap-xl-5: 20.5px;
  --gap-53xl: 72px;
  --gap-17xl: 36px;
  --gap-sm: 14px;
  --gap-3xs: 10px;
  --gap-6xl: 25px;
  --gap-29xl: 48px;
  --gap-111xl: 130px;
  --gap-46xl: 65px;
  --gap-21xl: 40px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-27xl: 46px;
  --padding-24xl: 43px;
  --padding-2xl: 21px;
  --padding-xl: 20px;
  --padding-44xl: 63px;
  --padding-22xl: 41px;
  --padding-8xl: 27px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-11xs: 2px;
  --padding-290xl: 309px;
  --padding-135xl: 154px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-3xl: 22px;
  --padding-6xl: 25px;
  --padding-29xl: 48px;
  --padding-4xl: 23px;
  --padding-5xl: 24px;
  --padding-12xs: 1px;
  --padding-mini: 15px;
  --padding-7xs-5: 5.5px;
  --padding-136xl: 155px;
  --padding-6xs: 7px;
  --padding-3xs-5: 9.5px;
  --padding-11xs-5: 1.5px;
  --padding-10xs-6: 2.6px;
  --padding-10xs: 3px;
  --padding-10xs-7: 2.7px;
  --padding-8xs-5: 4.5px;
  --padding-2xs: 11px;
  --padding-25xl: 44px;
  --padding-4xs: 9px;
  --padding-161xl: 180px;
  --padding-71xl: 90px;
  --padding-9xs: 4px;
  --padding-2xs-3: 10.3px;
  --padding-2xs-2: 10.2px;
  --padding-lg: 18px;
  --padding-mid: 17px;
  --padding-9xl: 28px;
  --padding-31xl: 50px;
  --padding-20xl: 39px;
  --padding-lgi: 19px;
  --padding-lgi-5: 19.5px;
  --padding-11xl: 30px;
  --padding-635xl: 654px;
  --padding-308xl: 327px;
  --padding-144xl: 163px;
  --padding-xl-5: 20.5px;
  --padding-12xs-5: 0.5px;
  --padding-smi: 13px;
  --padding-14xl: 33px;
  --padding-65xl: 84px;
  --padding-93xl: 112px;
  --padding-90xl: 109px;
  --padding-40xl: 59px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-13xl: 32px;
  --padding-417xl: 436px;
  --padding-199xl: 218px;
  --padding-301xl: 320px;
  --padding-141xl: 160px;
  --padding-37xl: 56px;
  --padding-77xl: 96px;
  --padding-603xl: 622px;
  --padding-292xl: 311px;
  --padding-86xl: 105px;
  --padding-33xl: 52px;
  --padding-83xl: 102px;
  --padding-32xl: 51px;
  --padding-84xl: 103px;
  --padding-48xl: 67px;
  --padding-165xl: 184px;
  --padding-23xl: 42px;
  --padding-51xl: 70px;
  --padding-128xl: 147px;
  --padding-207xl: 226px;
  --padding-154xl: 173px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-xl: 20px;
  --br-base-4: 15.4px;
  --br-7xs-1: 5.1px;
  --br-4981xl: 5000px;
  --br-7xs: 6px;
  --br-10xl: 29px;
  --br-base: 16px;

  /* Effects */
  --shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.12);
  --base-shadow-card-big: 0px 1px 20px rgba(196, 196, 196, 0.25);
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
